.app {
  padding: 24px;
}

.img-container {
  padding: 8px;
}

.img {
  width: 15%;
  height: 15%;
  border-radius: 5px;
}

.button {
  border: none;
  background: #007bee;
  display: block;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 16px 24px;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background: #015fb8;
}
